

@media screen and (min-width: 1200px) {
    
    #logo {
        height: 100px;
        width: 200px;
        margin-left: -200px;
        position: absolute;
    }
    
    
    #xray {
        padding-top: 10px;
    }

    #xray-title {
     padding-top: 40px;
     padding-bottom: 40px;
    }

    #animation {
        padding-bottom: 200px;
    }

    

    #image,
    #text,
    #image-shape,
    #prod-img-1,
    #prod-img-2,
    #prod-img-3,
    #prod-img-4,
    #share,
    #email,
    #phone,
    #sign-up,
    #socials-1,
    #socials-2,
    #socials-3,
    #socials-4 {
        display: inline-block;
    }

    #image {
        height: 823px;
    }

    #text,
    #image-shape {
        height: 683px;
    }

    #heading,
    #heading-2 {
        height: 343px;
    }

    #prod-img-1,
    #prod-img-2,
    #prod-img-3,
    #prod-img-4 {
        height: 738px;
        display: inline-block;
    }

    #share {
        height: 779px;
    }

    #heading-3 {
        height: 198px;
    }

    #email,
    #phone,
    #sign-up {
        height: 132px;
    }

    #socials-1,
    #socials-2,
    #socials-3,
    #socials-4 {
        height: 98px;
    }

    #icons {
        padding-top: 80px;
    }
}