

#logo {
    width: 100px;
    position: absolute;
    margin-left: -30px;
    padding-top: 30px;

   
}

#nav {
    padding-left: 160px;
}

#hero-con {
    
    padding-bottom: 250px;
}

#hero {
    height: 315px;
}

#image,
#image-shape {
    height: 246px;
}

#text {
    display: none;
}

#prod-img-1,
#share,
#email,
#phone,
#sign-up,
#socials-1,
#socials-2,
#socials-3,
#socials-4 {
    height: auto;
}

#socials-4 {
    width: 40px;
}

#prod-img-2,
#prod-img-3,
#prod-img-4 {
    display: none;
}