

@media screen and (min-width: 768px) {
    #nav {
        display: flex;
        height: 80px;
       
      }

    #nav li {
        margin-right: 50px;
        margin-top: 30px;
        
    }



      /* Hide the hamburger menu placeholder for larger screens */
      #hamburger-menu {
        display: none;
      }
    
    #logo {
        height: 100px;
        width: 100px;
        margin-left: -100px;
        position: absolute;
        display: block;
        padding-bottom: 20px;
    }
    
    #xray-title  {
        height: 100px;
    }

    #battery-text {
        padding-top: 80px;
        padding-bottom: 80px;
    }



    #image {
        height: 255px;
    }

    #text {
        height: 108px;
        display: inline-block;
    }

    .battery-text {
        color: aliceblue;
    }

    #prod-img-1,
    #prod-img-2,
    #prod-img-3,
    #prod-img-4 {
        height: 280px;
        display: inline-block;
    }


    #share {
        height: 242px;
    }


    #email,
    #phone,
    #sign-up {
        height: 68px;
    }

    #socials-1,
    #socials-2,
    #socials-3,
    #socials-4 {
        height: 60px;
    }

        #icons {
            padding-top: 80px;
            padding-bottom: 80px;
        }
}